

#hienthongtin {
  cursor: pointer;
  position: absolute;
  width: 100vw;
  height: 95vh;
  background-color: #ffa201;
  border-radius: 5px;
  color: #000;
  font-weight: normal;
  /*box-shadow: 0 0 4px 2px #a94c00;*/
  top:45%;
  text-align:center;
  display: none;
   
    
}
.hienthongtin_childaudio {
  position: absolute;
  /* top: 0px;  de khung hien len khong bi nhay*/
  background-color: transparent;
  background-size: cover;
  width: 90vw;
  height: 40px;
  color: #ffa201;
  font-weight: bold;
  display: none;
       
}


.nuttm {
  color:white;
  background-color:#4CAF50;
  height:40px;
  position:absolute;
  /*top:0;*/
    padding: 0px 10px 0px 10px ;
  /*right:65%;*/ 
} 

.nutmenucon {
  font-family: sans-serif;
  position:absolute;
  left:0px;

 
    color: transparent;
  opacity: 0;
  color:#ffffff;
  text-align: center;
    font-weight: normal;
    display:none;
    
   
}

.nuttat {
  cursor: pointer;
  position: relative;
  background-color: #000;
  border-radius: 5px;
  color:  #ffa201;
  font-weight: bold;
  box-shadow: 0 0 4px 2px #a94c00;
  display: none;
    padding: 4px 5px 4px 5px;
    border-style: solid;
    border-width: 1px;
     
   bottom: 20px; 
  text-align:center;
}

